@import "../../scss/constants";

.container {
	background-color: $background-light;
	.description-wrapper {
        padding: 30px 0;
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 60px;
        align-items: center;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
	}
}

.description-box-wrapper {
    .description-box {
        position: relative;
        min-width: 390px;
        width: 100%;
        padding: 62px 35px;
        box-sizing: border-box;
        min-height: 250px;
        border-radius: 15px;
        background-color: rgba(255, 255, 255, .85);
        .description-box__title {
            font-size: 38px;
            line-height: 1.2;
        }

        .description-box__time-info {
            position: absolute;
            top: 35px;
            font-size: 15px;
            color: #95989a;
            .description-box__time-icon {
                margin-right: 5px;
            }
            .description-box__time-level {
                border-left: solid 1px;
                margin-left: 10px;
                padding-left: 10px;
            }
        }
    }
}

.description__meal-img {
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    border-radius: 15px;
    // filter: blur(1px);
}


.content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 30px 60px;
    .ingredients {
        padding: 50px 35px;
        background-color: #f6fdea;
        h3 {
            margin-top: 14px;
            margin-bottom: 12px;
        }
    }

    .instructions {
        width: auto;
        .instructions-title {
            margin-top: 64px;
            margin-bottom: 12px;
            color: $font-color-link;
        }
        .instructions-list {
            padding-left: 2.5em;
            li {
                margin-top: 1.5em;
                list-style: none;
                span {
                    position: absolute;
                    margin-left: -2.5em;
                    width: 32px;
                    height: 32px;
                    line-height: 32px;
                    background-color: $font-color-link;
                    border-radius: 59%;
                    text-align: center;
                    color: $font-color-inverted;
                }
            }
        }
    }
}

.tip {
    padding-bottom: 12px;
    h3 {
        margin-top: 64px;
    }
}

.content-wrapper {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	height: 100%;
}

@media (max-width: 800px) {
    .container {
        .description-wrapper {
            grid-template-columns: 1fr;
            gap: 30px;
            justify-content: center;
        }
    }

    .description__meal-img {
        margin: 0 auto;
        width: 320px;
    }
}

@media (max-width: 600px) {
    .description-box {
        padding: 31px 16px;
    }

    .description-box-wrapper {
        .description-box {
            padding: 62px 16px;
            min-width: 280px;
        }
    }

    .content {
        display: block;

        .ingredients {
            padding: 25px 20px;
        }

        .instructions {
            padding-left: 20px;
            padding-right: 20px;
            .instructions-title {
                margin-top: 32px;
            }
        }
    }

    .tip {
        padding-left: 20px;
        padding-right: 20px;
        h3 {
            margin-top: 32px;
        }
    }
}