@import "../../scss/constants";

.container {
  background-color: $background-light;
  width: 100%;
}

.image-container {
  background-image: url("../../assets/hf.jpg");
  width: 300px;
  height: 300px;
}