@import "../../scss/constants";

.container {
  min-height: 600px;
  padding: 20px 50px;
  background-color: $background-strip;

  .meals {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }
}