@import "../../scss/constants";

* {
  font-family: $font-family;
}

.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  flex-direction: column;
  background-color: $background-light;
  width: 100%;
  min-height: calc(100vh - 130px);
  color: $font-color-main;

  .progress {
    width: 300px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    padding-top: 30px;

    .arrow {
      background-image: url("../../assets/icons/arrow.svg");
      width: 20px;
      margin-right: 20px;
      height: 15px;
      background-repeat: no-repeat;

      &:hover {
        cursor: pointer;
      }

      &.hidden {
        background-image: none;
      }
    }

    .bar {
      background-color: $background-super-light;
      width: 100%;
      height: 10px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      border-radius: 5px;

      .inbar {
        width: 3%;
        height: 100%;
        border-radius: 5px;
        background-color: $button-color;
        transition: width 0.5s ease;

        &.mult2 {
          width: 6%;
        }

        &.mult3 {
          width: 9%;
        }

        &.mult4 {
          width: 12%;
        }

        &.mult5 {
          width: 15%;
        }

        &.mult6 {
          width: 19%;
        }

        &.mult7 {
          width: 24%;
        }

        &.mult8 {
          width: 27%;
        }

        &.mult9 {
          width: 32%;
        }

        &.mult10 {
          width: 35%;
        }

        &.mult11 {
          width: 38%;
        }

        &.mult12 {
          width: 44%;
        }

        &.mult13 {
          width: 47%;
        }

        &.mult14 {
          width: 50%;
        }

        &.mult15 {
          width: 53%;
        }

        &.mult16 {
          width: 56%;
        }

        &.mult17 {
          width: 60%;
        }

        &.mult18 {
          width: 64%;
        }

        &.mult19 {
          width: 67%;
        }

        &.mult20 {
          width: 72%;
        }

        &.mult21 {
          width: 75%;
        }

        &.mult22 {
          width: 78%;
        }

        &.mult23 {
          width: 82%;
        }

        &.mult24 {
          width: 85%;
        }

        &.mult25 {
          width: 89%;
        }

        &.mult26 {
          width: 93%;
        }

        &.mult27 {
          width: 98%;
        }

        &.mult28 {
          width: 100%;
        }
      }
    }
  }

  .hidden {
    display: none;
  }

  .question {
    &.hidden {
      display: none;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
      margin-bottom: 20px;
      text-align: center;
      max-width: 40vw;
    }

    .button {
      margin: 10px;
      width: 300px;
      min-height: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: center;
      border-radius: 7px;
      font-weight: bolder;
      background-color: $background-super-light;
      color: $font-color-main;

      p {
        padding: 0;
        margin: 10px;
        width: 100%;
      }

      p.button-p-one {
        color: $font-color-main;
        font-size: 1.2rem;
        margin: 5px;
      }

      p.button-p-two {
        margin: 5px;
        color: $font-color-sub;
        font-weight: lighter;
      }

      &.selected {
        background-color: $button-color;
        color: $font-color-inverted;

        p {
          color: $font-color-inverted;
        }
      }

      &:hover {
        cursor: pointer;
        box-shadow: $background-strip 0px 0px 15px 0px;
      }
    }

    p {
      margin-top: 10px;
      margin-bottom: 10px;
      line-height: 150%;
      width: 65%;
      text-align: center;
    }

    .goal {

      width: 300px;
      min-height: 70px;
      background-color: $background-super-light;
      color: $font-color-main;
      border-radius: 7px;
      margin: 7px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      line-height: 150%;
      font-weight: bolder;
      padding: 10px;

      &:hover {
        cursor: pointer;
      }

      .check {
        min-width: 30px;
        min-height: 30px;
        margin: 10px;
        border-radius: 7px;
        background-color: $background-super-light;
        border: 3px solid $background-strip;
        box-sizing: border-box;
        transition: background-color 0.3s ease;

        &.checked {
          &:before {
            content: '\2713';
            position: relative;
            left: 6px;
            color: $font-color-main;
          }

          background-color: $button-color;
        }
      }
    }

    //question 3
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }

    input[type='number'] {
      height: 40px;
      width: 100px;
      border: none;
      box-shadow: $background-strip 0px 0px 15px 0px;
      border-radius: 7px;
      position: relative;
      margin: 10px;
      padding: 5px;
      box-sizing: border-box;
    }

    .ft-div>div,
    .cm-div>div,
    .pounds-div>div,
    .kilos-div>div {
      position: relative;
    }

    .ft-div {
      display: flex;

      &.hidden {
        display: none;
      }
    }

    input[type=number]+span {
      position: absolute;
      top: 20px;
      right: 15px;
    }

    .height-system {
      display: flex;
      align-items: center;
      height: 30px;
      background-color: $background-super-light;
      border-radius: 30px;
      width: 200px;
      margin-top: 20px;
      margin-bottom: 20px;

      &:hover {
        cursor: pointer;
      }

      .height-system-ft {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
        height: 100%;
        width: 50%;
        background-color: $background-super-light;
        transition: background-color 0.5s ease;

        &.selected {
          background-color: $background-strip;
        }
      }

      .height-system-cm {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
        height: 100%;
        width: 50%;
        background-color: $background-super-light;
        transition: background-color 0.5s ease;

        &.selected {
          background-color: $background-strip;
        }
      }
    }

    .weights-title {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      p {
        width: 100%;
        margin: 0;
        padding: 0;
        font-size: 1rem;
      }

    }

    .pounds-div,
    .kilos-div {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;

      &.hidden {
        display: none;
      }
    }

    .data-graph {
      width: 300px;
      height: 220px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      background-image: url("../../assets/images/data-graph.webp");
      margin-bottom: 30px;
    }


    .before-after {
      width: 30vw;
      height: 500px;
      border-radius: 20px;
      background-color: $background-super-light;
      background-image: url("../../assets/images/data-before-after.webp");
      background-position: top;
      background-size: contain;
      background-repeat: no-repeat;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      margin-bottom: 50px;
      margin-top: 30px;

      h4 {
        font-size: 1.3rem;
        font-weight: lighter;
        margin-bottom: 50px;
      }

      p {
        width: 80%;
        font-weight: bolder;
        font-size: 1.2rem;
      }
    }

    .midway {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h4 {
        font-size: 2rem;
        margin-bottom: 30px;
      }

      p:nth-child(1) {
        font-size: 9rem;
      }


      p:nth-child(3) {
        width: 100%;
        margin-bottom: 30px;
      }
    }

    .pizza-img {
      width: 30vw;
      height: 200px;
      border-radius: 20px;
      background-image: url("../../assets/images/pizza-hamburger.webp");
      background-position: top;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .pizza-img+p {
      font-size: 1.4rem;
      width: 55%;
      margin-top: 20px;
      margin-bottom: 10px;
    }

    .data-graph2 {
      background-image: url("../../assets/images/data-graph2.webp");
    }

    .experts {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 50%;
      background-color: $background-super-light;
      border-radius: 30px;

      div {
        border-radius: 30px;
        font-size: 1rem;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: flex-end;
        width: 200px;
        height: 250px;
        background-position: top;
        background-repeat: no-repeat;
        background-size: contain;
        background-color: transparent;
        font-weight: bolder;
      }

      div:nth-child(1) {
        background-image: url("../../assets/images/expert1.webp");
      }

      div:nth-child(2) {
        background-image: url("../../assets/images/expert2.webp");
      }

      div:nth-child(3) {
        background-image: url("../../assets/images/expert3.webp");
      }
    }


  }

}