@import "../../scss/constants";

.container {

  a:link, a:active, a:hover, a:visited {
    color: $font-color-main;
    text-decoration: none;
  }

  width: 100%;
  color: $font-color-main;

  .current-meals {
    padding: 0px 50px;
    background-color: $background-light;

    .meals {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
    }
  }

  .recipe-collections {
    padding: 0px 50px;
    background-color: $background-strip;

    .collection {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    h2 {
      margin: 0;
      padding: 0;
    }

    .collection-item {
      background-color: $background-dark;
      color: white;
      padding: 10px;
      margin: 10px;
      border-radius: 10px;
      transition: background-color 0.5s ease, color 0.5s ease;

      &:hover {
        color: $font-color-main;
        background-color: lighten($background-dark, 50%);
        cursor: pointer;
      }
    }
  }

  .dinner-ideas {
    padding: 0px 50px;
    background-color: $background-strip;
    width: 100%;

    .ideas-cards {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;

      & > div {

          div:nth-child(1) {
            width: 250px;
          }

          div:nth-child(2) {
            width: 200px;
          }
      }
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0;
    background-color: $background-strip;

    * {
      padding: 10px;
      margin: 5px;
      list-style: none;
    }

    li {
      background-color: $font-color-link;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      color: $font-color-inverted;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: box-shadow 0.3s ease;

      &.disabled {
        &:hover {
          cursor: not-allowed;
        }
        background-color: lighten($font-color-link, 30%);
        a {
          text-decoration: line-through;
          &:hover {
            cursor: not-allowed;
          }
        }
      }

      &.selected {
        width: 45px;
        height: 45px;
        a {
          font-size: 1.2rem;
          font-weight: bold;
        }
        box-shadow: 5px 5px 5px $font-color-main;
      }

      &.next, &.previous {
        width: unset;
        border-radius: 10px;
      }

    }

    a, a:link, a:active, a:visited, a:hover {
      color: $font-color-inverted;
      text-decoration: none;
    }

  }
}