* {
  margin: 0;
  padding: 0;
}

.footer {
  position: fixed;
  background-color: #1976d2;
  bottom: 0;
  width: 100%;
  color: white;
  font-family: sans-serif;
  height: 50px;

  a:link, a:hover, a:active, a:focus, a:visited {
    color: white;
  }
}
