$button-color: rgba(5, 170, 88);
$font-color-main: rgba(64, 64, 64);
$font-color-sub: rgba(149, 149, 149);
$font-color-link: rgba(5, 170, 88);
$font-color-inverted: rgba(255, 255, 255);
$background-super-light: rgba(255, 255, 255);
$background-light: rgba(243, 242, 239);
$background-strip: rgba(219, 232, 235);
$background-dark: rgba(22, 60, 78);
$filter-color: rgba(243, 242, 239);
$selected-filter-color: rgba(55, 102, 78);
$footer-color: rgba(14, 52, 120);

:export {
  button-color: $button-color;
  font-color-main: $font-color-main;
  font-color-sub:$font-color-sub;
  font-color-link:$font-color-link;
  font-color-inverted:$font-color-inverted;
  background-super-light:$background-super-light;
  background-light:$background-light;
  background-strip:$background-strip;
  background-dark:$background-dark;
  filter-color:$filter-color;
  selected-filter-color:$selected-filter-color;
  footer-color:$footer-color;
}